# Java
*.class
*.log
*.ctxt
target/
*.jar
*.war
*.ear
.idea/
.classpath
.project
.settings/
bin/
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
*.mo
*.pot
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
docs/_build/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.python-version
.Pipfile.lock

# JavaScript
node_modules/
logs
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode/
dist/
.env
.env.local
.env.*.local

# C++
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.dll
*.so
*.dylib
*.lib
*.a
*.la
*.lai
*.def
*.exp
*.exe
*.out
*.app
*.dSYM/
*.su
*.idb
.vscode/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
CTestTestfile.cmake
Testing/
